<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=the1bit70532;AccountKey=D4C+S0cTH8FomoB51sMaEV8rTUfdiPavQeYW2phtVvKfuJ7XsUFqHt3gorfqa66QjKQKHlIoQTBkvTskQlAgFw==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>