<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=the1bit70532;AccountKey=EAHomZc3gFB5ngVdajCZPIb8G+r+eASU0vBWPlDOORTw9RLVXSArbps3k9un2fWGyILlJfGkJRv82DAyVRAlVg==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>