<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="zoneName" value="domain name"/>
    <add key="aRecordName" value="subdomain"/>
    <add key="dnsResourceGroup" value="DNS Zone resource group"/>
    <add key="azure.cloudName" value="AzureCloud"/>
    <add key="azure.clientID" value="Service Principal ID"/>
    <add key="azure.clientSecret" value="Service Principal Secret"/>
    <add key="azure.tenant" value="Tenant ID"/>
    <add key="azure.subscriptionID" value="Subscription ID"/>
  </appSettings>
</configuration>